.category-text {
    -fx-fill: -fx-text-background-color;
    -fx-font-weight: bold;
}

.regular-text {
    -fx-fill: -fx-text-background-color;
}

.highlighted-text {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

/* Set scroll-bars of the viewer to light mode  */
.web-view .scroll-bar {
    -fx-base: #fcfcfc;
}
