.category-text {
    -fx-fill: -fx-text-background-color;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.regular-text {
    -fx-fill: -fx-text-background-color;
}

.highlighted-text {
    -fx-fill: orange;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}